<div class="content-dashboard">
    <div class="das-cards">
      <div class="das-card" routerLink="/app/product">
        <img src="" alt="Imagen de productos">
        <h2>Productos</h2>
      </div>
      <div class="das-card" routerLink="/app/category">
        <img src="" alt="Imagen de las categorias">
        <h2>Categorias</h2>
      </div>
      <div class="das-card" routerLink="/app/product">
        <img src="" alt="Imagen de las compras">
        <h2>Comprar</h2>
      </div>
      <div class="das-card" routerLink="/app/user">
        <img src="" alt="Imagen de usuarios">
        <h2>Usuarios</h2>
      </div>
    </div>
</div>
