.das-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .das-card {
    border: 1px solid red;
    height: 200px;
    text-align: center;
    margin: 1%;
    position: relative;
    display: flex;
    width: 45%;
  }
}

@media (max-width: 768px) {
  .das-cards {
    flex-direction: column;
    margin-right: 2%;

    .das-card {
      width: 100%;
    }
  }
}
