
<div class="contanier">
    <h1>LISTA DE USUARIOS</h1>
    <div class="bos">

        <li *ngFor="let user of users; let i = index">
            <div routerLink="/panel/user/{{user.id}}">
              <div class="se-card" >
                <div class="se-card-img">

                </div>
                <div class="se-card-info">
                  <h2>{{user.name}}</h2>
                  <h4>{{user.age}}</h4>
                  <P>{{user.description}}</P>
                </div>
              </div>
            </div>
      </li>
    </div>
<div class="btn-ventas">
<button class="btn btn-primary" routerLink="/panel/ventas">Ventas</button>
</div>

</div>
