<main class="content-login">
  <div class="login">
    <div class="login-data">
      <h2>Inicio De Sesión</h2>
      <form class="login-form">
        <div class="input-group">
          <label class="input-fill">
            <input type="email" name="email" id="email" required>
            <span class="input-label">Correo Electronico</span>
          </label>
        </div>
        <div class="input-group">
          <label class="input-fill">
            <input type="password" name="password" id="password" required>
            <span class="input-label">Contraseña</span>
          </label>
        </div>
        <div class="login-urls">
          <a href="auth/register">¿Necesitas una Cuenta?</a>
          <a routerLink="/app">¿Olvidaste tu Contraseña?</a>
        </div>
        <div class="btn-login" >
          <button type="submit" >Iniciar Sesión</button>
        </div>
      </form>

    </div>
  </div>
</main>

