<div class="Container">
  <h1>Productos: </h1>
  <div class="product">

    <ng-container *ngFor="let item of product">

        <div class="listProduct" >
          <div class="product-img">
            <img src="" alt="">
          </div>
          <div class="product-info">
            <h2>{{item.productName}}</h2>
            <h4>Precio: {{item.priceSale}}</h4>
            <P>{{item.barCode}}</P>
          </div>
        </div>

    </ng-container>

  </div>
  <button class="btn btn-primary" (click)="getProduct()">All</button>
</div>
